* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: PingFang SC, "Microsoft Sans Serif";
  font-weight: 200;
  color: #333; }

body {
  background: #fff; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

input, textarea {
  outline: none; }

input[type="text"], input[type="password"], input[type="datetime-local"], input[type="date"] {
  height: 30px;
  width: 180px;
  padding: 2px 10px;
  border: 1px solid #a3a3a3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 10px 0; }
  input[type="text"]:hover, input[type="password"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover {
    border: 1px solid #97B8DB; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus {
    border: 1px solid #97B8DB; }

input[type="file"] {
  width: 200px; }

textarea {
  height: 4em;
  width: 18.5em;
  resize: none;
  padding: 2px 10px;
  border: 1px solid #a3a3a3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 10px 0; }
  textarea:hover {
    border: 1px solid #97B8DB; }
  textarea:focus {
    border: 1px solid #97B8DB; }

button {
  height: 30px;
  width: 100px;
  border: none;
  background: none;
  margin: 0 15px 0 0; }

select {
  background: #eee;
  border: 1px solid #c8c7bc;
  line-height: 30px;
  height: 30px;
  color: #333; }

hr {
  border: none;
  border-bottom: 0.05em solid #D3D3D3;
  clear: both; }

table {
  *border-collapse: collapse;
  /* IE7 and lower */
  border-spacing: 0;
  margin: 0 0 20px; }
  table tr {
    height: 2em; }
  table th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);
    background-image: linear-gradient(top, #f5f5f5, #eee); }
  table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0; }
  table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0; }
  table th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0; }
  table td {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2; }
  table tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset; }
  table tfoot tr {
    height: 2.8em; }
  table tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1; }
  table tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px; }
  table tfoot td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0; }
  table tfoot td:only-child {
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px; }

.update-td-a {
  background-color: #4C87C3;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: #748BA5 1px 0 1px;
  text-shadow: 0 1px 0 #214B75;
  cursor: pointer; }
  .update-td-a:hover {
    background-color: #4478AC; }

.delete-td-a {
  background-color: #aaa;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: #797979 1px 0 1px;
  text-shadow: 0 1px 0 #333;
  cursor: pointer; }
  .delete-td-a:hover {
    background-color: #555; }

.add-td-a {
  background-color: #FF886A;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: #ee9e91 1px 0 1px;
  text-shadow: 0 1px 0 #ee6a75;
  cursor: pointer; }
  .add-td-a:hover {
    background-color: #FE6B46; }

.download-td-a {
  background-color: #815D20;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: #422E0C 1px 0 1px;
  text-shadow: 0 1px 0 #483617;
  cursor: pointer; }
  .download-td-a:hover {
    background-color: #976d25; }

.forbid-td-a {
  background-color: #777;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: #333 1px 0 1px;
  text-shadow: 0 1px 0 #333;
  cursor: pointer; }
  .forbid-td-a:hover {
    background-color: #777; }

.jump-td-a {
  color: #5588BB;
  font-weight: 500;
  padding: 3px 0; }
  .jump-td-a:hover {
    color: #629cd7;
    font-weight: 600; }

.pink-font {
  color: #FF886A; }

.td-center {
  text-align: center; }

.return-a {
  width: 90%;
  margin: 0 auto 20px;
  display: block; }

.cancel-btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background: #aaa;
  width: 100px;
  margin: 0 5px; }
  .cancel-btn:hover {
    background: #888; }

.submit-btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background: #FF886A;
  width: 100px;
  margin: 0 5px; }
  .submit-btn:hover {
    background: #FE6B46; }

.search-btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background: #205081;
  width: 100px;
  margin: 0 5px;
  margin: 0; }
  .search-btn:hover {
    background: #2363A4; }

.stat-btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background: #205081;
  width: 100px;
  margin: 0 5px;
  margin: 12px 0 0; }
  .stat-btn:hover {
    background: #2363A4; }

.info-title {
  color: #AAA;
  font-weight: 500; }

.right-info-div {
  width: 90%;
  margin: 0 auto 20px;
  padding: 0 0 0 13px;
  border-left: 11px solid #F5F5F5; }
  .right-info-div div {
    margin: 0 0 10px; }

.message-info-div {
  border-left: 11px solid #F77A5F;
  background-color: #F2F2F2;
  padding: 15px 13px;
  margin: 0 0 15px; }
  .message-info-div .message-title {
    font-size: 18px; }
  .message-info-div .message-time {
    font-size: 12px;
    color: #a3a3a3; }
  .message-info-div .message-content {
    margin: 5px 0; }
  .message-info-div .message-a {
    margin: 0 20px;
    color: #5E71BD; }
    .message-info-div .message-a:hover {
      color: #2F4083; }

#login-page {
  background-image: url(../image/login.jpg); }
  #login-page .login-content {
    height: 184px;
    width: 700px;
    margin: 300px auto;
    padding: 20px 0 0;
    background: rgba(30, 65, 68, 0.49);
    position: relative; }
    #login-page .login-content img {
      position: absolute;
      width: 260px;
      top: 41px;
      left: 50px; }
    #login-page .login-content form {
      margin: 20px 0 0 400px; }
      #login-page .login-content form input {
        width: 180px;
        margin: 0 0 20px; }
      #login-page .login-content form button {
        width: 200px;
        background: #3A97C5;
        color: #fff;
        cursor: pointer; }
        #login-page .login-content form button:hover {
          background: #1b6d85; }
    #login-page .login-content .login-bottom {
      background: #24465e;
      height: 10px;
      width: 100%;
      position: absolute;
      bottom: 0; }

#login-error {
  margin: 0 0 0 15px;
  color: #d04242; }

header {
  height: 41px;
  background: #205081;
  border-bottom: 1px solid #2e3d54;
  z-index: 100;
  position: fixed;
  width: 100%; }

nav {
  background: #205081;
  padding: 0 20px; }
  nav .logo {
    margin: 10px; }
  nav div {
    float: left; }
  nav li {
    float: left;
    margin: 0 10px;
    line-height: 41px;
    color: #fff; }
  nav a {
    color: #fff;
    line-height: 1;
    padding: 12px 10px; }
    nav a:hover {
      background: #081E34; }
  nav .nav-right {
    position: absolute;
    right: 0; }

.content {
  height: 100%;
  padding: 60px 0;
  background: #fff; }
  .content form {
    width: 40%;
    margin: 0 auto; }
  .content .left-sidebar {
    width: 265px;
    position: fixed;
    bottom: 0;
    top: 42px;
    left: 0;
    background: #F5F5F5;
    border-right: 1px solid #ddd;
    padding: 30px 10px; }
  .content .right-content {
    background: #fff;
    margin: 0 0 0 285px;
    min-height: 650px;
    padding: 0 30px; }
    .content .right-content form {
      width: 50%;
      min-width: 500px; }
  .content table {
    width: 90%;
    margin: 0 auto 30px; }

.left-sidebar .left-title {
  margin: 0 0 .3em 20px;
  float: left; }
  .left-sidebar .left-title span {
    font-size: 20px;
    color: #333; }
.left-sidebar .left-btn {
  margin: 0.6em 0 1.4em 9.4em; }
.left-sidebar .left-sub-title {
  margin: 1.3em 0 0 20px; }
  .left-sidebar .left-sub-title span {
    font-size: 18px; }
.left-sidebar li {
  margin: 1.5em 0 .3em 20px; }
  .left-sidebar li a {
    color: #5E71BD;
    padding: 10px 180px 10px 5px; }
    .left-sidebar li a:hover {
      background: rgba(0, 0, 0, 0.06); }
.left-sidebar .left-sub-list li {
  margin: 1.2em 0 .3em 20px;
  padding: 3px 0 0 0; }
.left-sidebar .left-sub-list a {
  border-left: 2px solid #4C87C3; }
.left-sidebar hr {
  margin: 5px 0;
  color: #ddd; }

.t-course-semester {
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-left: 10px solid #F96241;
  color: #333;
  font-size: 18px;
  padding: 0 0 0 10px;
  clear: both; }

.t-course-a {
  height: 146px;
  width: 195px; }

.t-course {
  width: 195px;
  float: left;
  margin: 15px 20px 30px;
  box-shadow: 1px 1px 1px #b3b3b3;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7; }
  .t-course:hover {
    box-shadow: none; }
  .t-course .t-course-header {
    background-color: #57b5e8;
    padding: 5px 20px; }
    .t-course .t-course-header span {
      color: #fff;
      font-size: 12px;
      font-weight: 100; }
    .t-course .t-course-header .t-course-name {
      font-size: 16px; }
  .t-course .t-course-body {
    padding: 10px 20px 15px;
    background-color: #F2F2F2; }
    .t-course .t-course-body img {
      width: 14px;
      margin: 0 10px 0 0; }
    .t-course .t-course-body .tea-img {
      width: 16px;
      margin: 0 8px 0 0; }
    .t-course .t-course-body span {
      color: #333;
      line-height: 1.7; }

.course-header-info {
  width: 100%; }
  .course-header-info .course-header-main {
    width: 60%;
    height: 90px;
    background: #F2F2F2;
    text-align: center;
    border-left: 15px solid #F96241;
    float: left;
    margin: 0 0 30px 0; }
    .course-header-info .course-header-main #course-header-name {
      font-size: 30px;
      display: inline-block;
      margin: 10px 0 0; }
    .course-header-info .course-header-main #course-header-id {
      font-size: 14px;
      color: dimgray; }
  .course-header-info .course-header-left {
    height: 90px;
    background-color: #F77A5F; }
    .course-header-info .course-header-left span {
      color: #fff;
      display: inline-block;
      line-height: 1.8;
      margin-left: 20px; }
    .course-header-info .course-header-left a {
      color: #fff;
      text-decoration: underline; }
      .course-header-info .course-header-left a:hover {
        color: #F5F5F5; }
    .course-header-info .course-header-left img {
      width: 16px;
      margin: 0 5px 0 0; }
    .course-header-info .course-header-left .map-img {
      width: 14px;
      margin: 0 7px 0 0; }
    .course-header-info .course-header-left span:first-child {
      margin-top: 7px; }

#s-course-header-main {
  height: 110px; }
  #s-course-header-main #course-header-name {
    margin: 22px 0 0; }

#s-course-header-left {
  height: 110px; }
  #s-course-header-left img {
    width: 16px;
    margin: 0 10px 0 0; }

.course-assistant {
  clear: both; }
  .course-assistant .assistant-label {
    height: 20px;
    margin: 20px 20px 30px 0;
    padding: 10px 30px 10px 10px;
    border-left: 5px solid #2e3d54;
    background-color: gainsboro;
    display: inline-block; }

.course-student {
  clear: both; }
  .course-student table {
    width: 48%;
    margin: 20px 0; }
  .course-student .table-left {
    float: left; }
  .course-student .table-right {
    float: right; }

.search-student {
  clear: both; }
  .search-student #fuzzy-form {
    margin: 0;
    width: 90%; }

.add-student, .add-assistant {
  width: 45%;
  float: left; }
  .add-student table, .add-assistant table {
    width: 100%;
    margin: 20px 0; }

.added-student, .added-assistant {
  width: 45%;
  float: right; }
  .added-student table, .added-assistant table {
    width: 100%;
    margin: 20px 0; }

.main-table {
  width: 100%;
  margin: 20px 0; }
  .main-table .inner-td {
    padding: 0; }
  .main-table .scorll-table {
    width: 100%;
    height: 360px;
    overflow-x: hidden;
    overflow-y: auto; }
  .main-table .inner-table {
    margin: 0;
    width: 100%; }
    .main-table .inner-table tbody tr:nth-child(even) {
      background: #fff;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset; }

.td-img {
  height: 15px;
  display: none; }

.s-t-id {
  width: 35%; }

.s-t-name {
  width: 35%; }

.s-t-op {
  width: 30%; }

.sel-btns {
  float: right; }

#download-file {
  color: #fff; }
  #download-file img {
    width: 16px;
    position: relative;
    top: 3px; }

.t-homework {
  clear: both;
  marin-top: 10px; }

.homework-card {
  width: 215px;
  float: left;
  margin: 20px 27px;
  box-shadow: 1px 1px 1px #b3b3b3;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7; }
  .homework-card:hover {
    box-shadow: none; }
  .homework-card .h-submit {
    background-color: #57b5e8; }
  .homework-card .h-commit {
    background-color: #136997; }
  .homework-card .h-done {
    background-color: #082B3D; }
  .homework-card .homework-card-header {
    padding: 5px 15px; }
    .homework-card .homework-card-header span {
      color: #fff;
      display: block; }
    .homework-card .homework-card-header .homework-id {
      font-size: 10px; }
    .homework-card .homework-card-header .homework-name {
      font-size: 18px; }
  .homework-card .homework-card-body {
    padding: 10px 15px 15px;
    background-color: #F2F2F2; }
    .homework-card .homework-card-body .homework-des {
      display: block;
      height: 70px;
      line-height: 1.7;
      font-size: 13px;
      color: #666; }
  .homework-card .homework-card-footer {
    padding: 0 10px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #F2F2F2; }
    .homework-card .homework-card-footer .h-active-span {
      color: #57b5e8; }
    .homework-card .homework-card-footer .h-commit-span {
      color: #aaa; }
    .homework-card .homework-card-footer .h-done-span {
      color: #082B3D; }

.homework-title {
  width: 100%;
  margin: 0 0 30px 0; }

.h-title-name {
  background-color: #F2F2F2;
  border-left: 15px solid #F96241;
  width: 70%;
  height: 60px;
  padding: 10px 0;
  text-align: center;
  float: left; }
  .h-title-name span {
    display: block; }
  .h-title-name #h-title-name {
    font-size: 30px; }
  .h-title-name #h-title-id {
    color: #666; }

.h-title-time {
  height: 60px;
  background-color: #F77A5F;
  line-height: 30px;
  padding: 10px 0; }
  .h-title-time span {
    display: inline-block;
    margin: 0 20px;
    color: #fff; }

.h-title-mid {
  border-left: 15px solid #F96241;
  border-right: 1px solid #F77A5F; }
  .h-title-mid span {
    display: inline-block;
    margin: 10px;
    line-height: 1.6; }

.h-title-btm-left {
  background-color: #F2F2F2;
  border-left: 15px solid #F96241;
  width: 70%;
  height: 30px;
  float: left; }

.h-title-btm-right {
  background-color: #F77A5F;
  height: 30px;
  line-height: 30px; }
  .h-title-btm-right span {
    color: #fff;
    display: inline-block;
    margin: 0 0 0 20px; }
  .h-title-btm-right #h-title-attach {
    float: right;
    margin: 0 20px; }

.homework-commit-state {
  text-align: center;
  clear: both; }

.homework-example {
  margin: 0 136px 20px 0;
  float: left; }

.homework-stat {
  width: 30%;
  float: left;
  height: 200px;
  clear: both; }
  .homework-stat .h-stat-card {
    height: 340px;
    background-color: #fff; }
  .homework-stat .h-stat-header {
    background: #0C2136;
    color: #fff;
    text-align: center;
    padding: 10px; }
  .homework-stat .h-stat-data {
    padding: 0 10px; }
    .homework-stat .h-stat-data hr {
      margin: 0 0 10px; }
    .homework-stat .h-stat-data span {
      display: block;
      margin: 0 90px;
      line-height: 1.6; }
  .homework-stat .homework-btns {
    float: right;
    margin: 20px 0; }

.a-attach {
  color: #fff; }
  .a-attach img {
    width: 17px;
    margin: 0 4px 0 0;
    position: relative;
    top: 2px; }

#show-all {
  position: relative;
  top: 56px;
  left: -130px; }

.homework-scores {
  width: 68%;
  float: right; }
  .homework-scores table {
    width: 100%; }

.download-td img {
  width: 16px; }

.a-s-id {
  width: 10%; }

.a-s-name {
  width: 10%; }

.a-s-hw {
  width: 10%; }

.a-s-grade {
  width: 10%;
  padding: 0 10px; }

.a-s-comment {
  width: 60%;
  padding: 0 10px; }

#add-h-form {
  clear: both;
  width: 70%;
  min-width: 500px;
  margin: 0; }
  #add-h-form input[type="text"], #add-h-form input[type="file"], #add-h-form input[type="datetime-local"], #add-h-form input[type="date"] {
    margin: 10px 0 10px 10px; }
  #add-h-form .add-h-first {
    height: 55px; }

#add-h-form > div {
  margin: 20px 0 0; }

#add-h-name {
  float: left; }

#add-h-type {
  float: right; }

#add-h-des {
  clear: both; }
  #add-h-des label {
    float: left; }
  #add-h-des textarea {
    margin: 0 0 0 14px;
    height: 8em;
    width: 86%; }

#add-h-hr span {
  color: #bbb;
  font-size: 12px; }

div#add-h-ddl {
  margin: 5px 0; }

#add-h-stu-ddl {
  float: left; }

#add-h-assi-ddl {
  float: right; }

#add-h-btns {
  clear: both;
  float: right; }

#assistant-course {
  width: 100%;
  height: 50px;
  margin: 0 0 20px; }
  #assistant-course #a-course-title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    width: 12%;
    background-color: #F96241;
    color: #fff;
    font-weight: 100;
    float: left; }
  #assistant-course #a-course-info {
    float: right;
    width: 87%;
    box-shadow: 1px 1px 1px #b3b3b3;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7; }
    #assistant-course #a-course-info:hover {
      box-shadow: none; }
    #assistant-course #a-course-info #a-course-header {
      float: left;
      width: 20%;
      padding: 0 15px;
      height: 50px;
      background: #57b5e8; }
      #assistant-course #a-course-info #a-course-header span {
        display: block;
        color: #fff;
        font-weight: 100; }
      #assistant-course #a-course-info #a-course-header #a-course-id {
        font-size: 12px;
        margin: 4px 0 0; }
      #assistant-course #a-course-info #a-course-header #a-course-name {
        font-size: 17px; }
    #assistant-course #a-course-info #a-course-body {
      height: 50px;
      background: #F2F2F2;
      padding: 0 15px;
      line-height: 55px; }
      #assistant-course #a-course-info #a-course-body span {
        margin: 0 15px 0 15px; }
      #assistant-course #a-course-info #a-course-body img {
        height: 19px;
        margin: 0 5px 0 0px; }

.homework-active {
  color: #5E71BD; }
  .homework-active:hover {
    color: #2F4083; }

.homework-undo {
  color: #ddd; }

.homework-done {
  color: #081E34; }

#a-h-excel {
  margin: 0 0 20px 0;
  height: 30px; }
  #a-h-excel #a-h-output {
    float: left;
    margin: 0 20px 0 0; }
  #a-h-excel #a-h-input form {
    width: 100%; }

#a-student-table {
  width: 100%;
  max-height: 300px;
  overflow: scroll; }

.a-result-btns {
  float: right; }

.announcement {
  width: 100%; }
  .announcement .announcement-body {
    background: #F2F2F2;
    border-left: 15px solid #57b5e8;
    padding: 10px 20px;
    margin: 25px 0 5px; }
  .announcement .announce-header {
    margin: 0 0 10px 0; }
    .announcement .announce-header span {
      display: block;
      margin: 0 0 5px 0; }
    .announcement .announce-header .announce-title {
      font-size: 22px; }
    .announcement .announce-header .announce-time {
      font-size: 12px;
      color: #aaa; }
  .announcement .announce-body {
    width: 70%; }
    .announcement .announce-body span {
      color: #666; }

.a-button {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #FFAE30;
  color: #FFAE30;
  background: none; }
  .a-button:hover {
    border: 1px solid #eea32d;
    color: #eea32d; }

.a-margin-button {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #FFAE30;
  color: #FFAE30;
  background: none;
  margin: 0 0 0 27px; }
  .a-margin-button:hover {
    border: 1px solid #eea32d;
    color: #eea32d; }

.a-btn-confirm {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: #FFAE30;
  color: #fff; }
  .a-btn-confirm:hover {
    background: #eea32d; }

.a-btn-cancel {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #FFAE30;
  color: #FFAE30;
  background: none; }
  .a-btn-cancel:hover {
    border: 1px solid #eea32d;
    color: #eea32d; }

.a-btn-forbid {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #666;
  color: #666;
  background: none; }
  .a-btn-forbid:hover {
    border: 1px solid #666;
    color: #666; }

.a-show {
  color: #fff;
  border: 1px solid #fff;
  width: 80px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  left: 70px;
  position: relative;
  cursor: pointer; }
  .a-show:hover {
    border: 1px solid #F5F5F5;
    color: #F5F5F5; }

#to-add-user a {
  color: #fff;
  background: #FF886A;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: #D4B3B3 1px 1px 1px;
  text-shadow: 0 1px 0 #983E27;
  cursor: pointer; }
  #to-add-user a:hover {
    background: #FE6B46; }

#to-add-course a {
  color: #fff;
  background: #FF886A;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: #D4B3B3 1px 1px 1px;
  text-shadow: 0 1px 0 #983E27;
  cursor: pointer; }
  #to-add-course a:hover {
    background: #FE6B46; }

.radio-input {
  margin: 0 0 10px; }
  .radio-input input {
    margin: 0 5px 0 20px; }
  .radio-input label {
    cursor: pointer; }

#add-user-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #add-user-div #add-user-body {
    height: 400px;
    width: 500px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #add-user-div #add-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #add-user-div #add-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #add-user-div form {
    margin: 40px 0; }

#update-user-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #update-user-div #update-user-body {
    height: 350px;
    width: 500px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #update-user-div #update-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #update-user-div #update-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #update-user-div form {
    margin: 40px 0; }

#delete-user-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #delete-user-div #delete-user-body {
    height: 170px;
    width: 300px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #delete-user-div #delete-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #delete-user-div #delete-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #delete-user-div #delete-form {
    margin: 20px 0; }
    #delete-user-div #delete-form span {
      line-height: 4; }

#add-semester-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #add-semester-div #add-semester-body {
    height: 250px;
    width: 350px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #add-semester-div #add-semester-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #add-semester-div #add-semester-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #add-semester-div form {
    margin: 10px 0; }
    #add-semester-div form button {
      margin: 10px 0; }

#update-semester-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #update-semester-div #update-semester-body {
    height: 250px;
    width: 350px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #update-semester-div #update-semester-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #update-semester-div #update-semester-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #update-semester-div form {
    margin: 10px 0; }
    #update-semester-div form button {
      margin: 10px 0; }

#add-homework-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #add-homework-div #add-homework-body {
    height: 500px;
    width: 550px;
    margin: 140px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #add-homework-div #add-homework-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #add-homework-div #add-homework-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #add-homework-div form {
    margin: 30px 0; }
    #add-homework-div form button {
      margin: 10px 0; }

#add-example-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #add-example-div #add-example-body {
    height: 200px;
    width: 300px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #add-example-div #add-example-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #add-example-div #add-example-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #add-example-div form {
    margin: 45px 0; }
    #add-example-div form button {
      margin: 20px 0; }

#update-grade-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #update-grade-div #update-grade-body {
    height: 270px;
    width: 380px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #update-grade-div #update-grade-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #update-grade-div #update-grade-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #update-grade-div form {
    margin: 21px 0; }
    #update-grade-div form button {
      margin: 20px 0; }

.semester-search form {
  width: 100%;
  margin: 1.5em 0 1.5em 20px; }
.semester-search #semester-list {
  background: #eee;
  border: 1px solid #c8c7bc;
  line-height: 30px;
  height: 30px;
  color: #333;
  margin: 0 0 12px; }
.semester-search .search-btn {
  margin: 0 0 20px; }
.semester-search #to-add-semester {
  color: #fff;
  background: #FF886A;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: #D4B3B3 1px 1px 1px;
  text-shadow: 0 1px 0 #983E27;
  cursor: pointer; }
  .semester-search #to-add-semester:hover {
    background: #FE6B46; }

.semester-month-form form {
  margin: 0;
  padding: 0 0 10px 0; }
.semester-month-form select {
  margin: 0 10px 0 0; }

#add-course-form div, #update-course-form div {
  margin: 10px 0; }
#add-course-form hr, #update-course-form hr {
  margin: 20px 0 10px; }
#add-course-form button a, #update-course-form button a {
  color: #fff; }
#add-course-form .a-btn, #update-course-form .a-btn {
  width: 120px; }
#add-course-form .course-time input, #update-course-form .course-time input {
  width: 20px;
  margin: 10px 2px; }
#add-course-form .course-semester label, #update-course-form .course-semester label {
  margin: 0 0px 0 13px; }
#add-course-form #semester, #update-course-form #semester {
  margin: 0 15px;
  width: 201px;
  height: 35px; }
#add-course-form .course-type select, #update-course-form .course-type select {
  margin: 0 25px 0 0; }

.semester-no-course {
  margin: 15px 20px 30px; }

#add-semester-form, #update-semester-form {
  text-align: center; }
  #add-semester-form #add-semester-title, #update-semester-form #add-semester-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #add-semester-form #add-semester-title span, #update-semester-form #add-semester-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #add-semester-form input, #update-semester-form input {
    width: 50px; }

#semester-info span {
  margin: 0 0 0 5px; }
#semester-info a {
  margin: 0 0 0 10px; }

.teacher-update-td-a {
  margin: 0 0 0 10px; }

tr.semester-tr td {
  text-align: center;
  background: rgba(35, 99, 164, 0.57);
  color: #fff;
  padding: 5px; }

#export-form {
  margin: 0 0 20px; }

#fuzzy-form input {
  width: 100px;
  margin-right: 10px; }

.second-span {
  margin-left: 30px; }

.short-input-div input {
  width: 50px; }

.description-div {
  position: relative; }
  .description-div label {
    position: relative;
    top: -36px; }

#message-tip {
  background: #FF886A;
  border-radius: 50%;
  height: 16px;
  text-align: center;
  line-height: 15px;
  width: 16px;
  font-size: 12px;
  color: #fff;
  display: inline-block; }

#move-right {
  position: absolute;
  top: 388px;
  left: 59%; }

#move-left {
  position: absolute;
  top: 466px;
  left: 59%; }

.changable-td {
  cursor: pointer; }
  .changable-td img {
    height: 16px;
    margin: 0 0 0 5px; }
  .changable-td input {
    margin: 0;
    height: 25px; }

.change-grade input {
  width: 60%; }

.change-comment input {
  width: 90%; }

#student-grade {
  height: 60px;
  width: 100%; }
  #student-grade #s-grade-left {
    width: 70%;
    height: 60px;
    background: #F2F2F2;
    border-left: 15px solid #57b5e8;
    float: left; }

#s-grade-span {
  display: inline-block;
  line-height: 40px;
  width: 80px;
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
  border-right: 1px solid #a1c2d4; }
  #s-grade-span span {
    font-size: 14px; }

#s-comment-span {
  display: inline-block;
  margin: 0 0 0 10px;
  line-height: 60px;
  color: #777; }

#s-grade-right {
  height: 60px;
  background: #57b5e8;
  line-height: 30px; }
  #s-grade-right span {
    display: block; }
    #s-grade-right span img {
      width: 16px;
      margin: 0 5px 0 0; }
    #s-grade-right span a {
      color: #fff;
      margin: 0px 0 0 20px; }

.s-h-stat {
  margin: 30px 0;
  background: #eee;
  height: 300px; }

#s-hs-stat {
  width: 35%;
  float: left; }

#s-allh-stat {
  width: 60%;
  float: right; }

.a-download img {
  width: 16px; }

.h-s-id {
  width: 15%; }

.h-s-name {
  width: 15%; }

.h-s-h {
  width: 10%; }

.h-s-g {
  width: 10%; }

.h-s-c {
  width: 50%; }

#add-mail-form {
  clear: both;
  width: 70%;
  min-width: 500px;
  margin: 14px; }
  #add-mail-form .mail-content textarea {
    height: 16em; }

#mail-receiver label {
  margin: 0px 7px 0 -12px; }
#mail-receiver input {
  width: 86%; }

#mail-theme {
  margin: 0 0 10px 0; }
  #mail-theme label {
    margin: 0px 9px 0 0; }
  #mail-theme input {
    width: 86%; }

#mail-btn {
  float: right;
  margin: 11px 28px; }
  #mail-btn span {
    margin: 0 10px 0 0; }

#auto-saving {
  margin: 0 20px 0 0;
  color: #888; }

#correct-save {
  margin: 0 10px 0 0; }

#submitted {
  display: block;
  text-align: center;
  margin: 5px 0;
  color: #e6524a; }

#s-h-submit-ddl {
  line-height: 60px;
  text-align: center; }

#my-awesome-dropzone {
  width: 90%;
  height: 230px;
  line-height: 1;
  border: 2px dashed #6ab8e6;
  background: #f7f7f7;
  margin-bottom: 10px; }

.loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  background: rgba(84, 84, 84, 0.36);
  border-radius: 18px;
  height: 100px; }
  .loading-img img {
    width: 110px;
    margin: -21px 0px; }

/*# sourceMappingURL=main.css.map */
