* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Verdana, Arial;
  color: #333; }

body {
  background: #F5F5F5; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

input, textarea {
  outline: none; }

input[type="text"], input[type="password"] {
  height: 30px;
  width: 180px;
  padding: 2px 10px;
  border: 1px solid #F5F5F5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 10px 0; }
  input[type="text"]:hover, input[type="password"]:hover {
    border: 1px solid #97B8DB; }
  input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #97B8DB; }

input[type="file"] {
  width: 200px; }

textarea {
  height: 4em;
  width: 18.5em;
  resize: none;
  padding: 2px 10px;
  border: 1px solid #F5F5F5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 10px 0; }
  textarea:hover {
    border: 1px solid #97B8DB; }
  textarea:focus {
    border: 1px solid #97B8DB; }

button {
  height: 30px;
  width: 110px;
  border: none; }

select {
  background: #eee;
  border: 1px solid #c8c7bc;
  line-height: 30px;
  height: 30px;
  color: #333; }

hr {
  border: none;
  border-bottom: 0.05em solid #D3D3D3;
  clear: both; }

table {
  *border-collapse: collapse;
  /* IE7 and lower */
  border-spacing: 0;
  margin: 0 0 20px; }
  table tr {
    height: 2em; }
  table th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);
    background-image: linear-gradient(top, #f5f5f5, #eee); }
  table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0; }
  table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0; }
  table th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0; }
  table td {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2; }
  table tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset; }
  table tfoot tr {
    height: 2.8em; }
  table tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1; }
  table tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px; }
  table tfoot td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0; }
  table tfoot td:only-child {
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px; }

.update-td-a {
  background-color: #4C87C3;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: #748BA5 1px 0 1px;
  text-shadow: 0 1px 0 #214B75;
  cursor: pointer; }
  .update-td-a:hover {
    background-color: #4478AC; }

.delete-td-a {
  background-color: #aaa;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: #797979 1px 0 1px;
  text-shadow: 0 1px 0 #333;
  cursor: pointer; }
  .delete-td-a:hover {
    background-color: #555; }

.add-td-a {
  background-color: #FF886A;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: #ee9e91 1px 0 1px;
  text-shadow: 0 1px 0 #ee6a75;
  cursor: pointer; }
  .add-td-a:hover {
    background-color: #FE6B46; }

.download-td-a {
  background-color: #815D20;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: #422E0C 1px 0 1px;
  text-shadow: 0 1px 0 #483617;
  cursor: pointer; }
  .download-td-a:hover {
    background-color: #976d25; }

.forbid-td-a {
  background-color: #777;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: #333 1px 0 1px;
  text-shadow: 0 1px 0 #333;
  cursor: pointer; }
  .forbid-td-a:hover {
    background-color: #777; }

.jump-td-a {
  color: #5588BB;
  font-weight: 500;
  padding: 3px 0; }
  .jump-td-a:hover {
    color: #629cd7;
    font-weight: 600; }

.pink-font {
  color: #FF886A; }

.td-center {
  text-align: center; }

.return-a {
  width: 90%;
  margin: 0 auto 20px;
  display: block; }

.cancel-btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background: #aaa;
  width: 100px;
  margin: 0 5px; }
  .cancel-btn:hover {
    background: #888; }

.submit-btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background: #FF886A;
  width: 100px;
  margin: 0 5px; }
  .submit-btn:hover {
    background: #FE6B46; }

.search-btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background: #205081;
  width: 100px;
  margin: 0 5px;
  margin: 0; }
  .search-btn:hover {
    background: #2363A4; }

.stat-btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background: #205081;
  width: 100px;
  margin: 0 5px;
  margin: 12px 0 0; }
  .stat-btn:hover {
    background: #2363A4; }

.info-title {
  color: #AAA;
  font-weight: 500; }

.right-info-div {
  width: 90%;
  margin: 0 auto 20px;
  padding: 0 0 0 13px;
  border-left: 11px solid #F5F5F5; }
  .right-info-div div {
    margin: 0 0 10px; }

.message-info-div {
  border-left: 11px solid #F5F5F5;
  padding: 10px 13px;
  margin: 0 40px 15px; }
  .message-info-div .message-title {
    font-size: 16px; }
  .message-info-div .message-time {
    font-size: 12px;
    color: #797979; }
  .message-info-div .message-content {
    margin: 5px 0; }
  .message-info-div .message-a {
    background-color: #4C87C3;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: #748BA5 1px 0 1px;
    text-shadow: 0 1px 0 #214B75;
    cursor: pointer; }
    .message-info-div .message-a:hover {
      background-color: #4478AC; }

#login-page .login-content {
  height: 184px;
  width: 700px;
  margin: 300px auto;
  padding: 20px 0 0;
  background: #72c2ea;
  position: relative; }
  #login-page .login-content img {
    position: absolute;
    width: 260px;
    top: 41px;
    left: 50px; }
  #login-page .login-content form {
    margin: 20px 0 0 400px; }
    #login-page .login-content form input {
      width: 180px;
      margin: 0 0 20px; }
    #login-page .login-content form button {
      width: 200px;
      background: #3A97C5;
      color: #fff; }
  #login-page .login-content .login-bottom {
    background: #3A97C5;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: 0; }

header {
  height: 41px;
  background: #205081;
  border-bottom: 1px solid #2e3d54;
  z-index: 100; }

nav {
  background: #205081;
  padding: 0 20px; }
  nav .logo {
    margin: 10px; }
  nav div {
    float: left; }
  nav li {
    float: left;
    margin: 0 10px;
    line-height: 41px;
    color: #fff; }
  nav a {
    color: #fff;
    line-height: 1;
    padding: 12px 10px; }
    nav a:hover {
      background: #081E34; }
  nav .nav-right {
    position: absolute;
    right: 0; }

.content {
  height: 100%;
  padding: 30px 0;
  background: #fff; }
  .content form {
    width: 40%;
    margin: 0 auto; }
  .content .left-sidebar {
    width: 265px;
    position: fixed;
    bottom: 0;
    top: 42px;
    left: 0;
    background: #F5F5F5;
    border-right: 1px solid #ddd;
    padding: 30px 10px; }
  .content .right-content {
    background: #fff;
    margin: 0 0 0 285px;
    min-height: 600px;
    padding: 30px 10px; }
    .content .right-content form {
      width: 50%;
      min-width: 500px; }
  .content table {
    width: 90%;
    margin: 0 auto 30px; }

.left-sidebar .left-title {
  margin: 0 0 .3em 20px;
  float: left; }
  .left-sidebar .left-title span {
    font-size: 25px;
    color: #333; }
.left-sidebar .left-btn {
  margin: 0.6em 0 1.4em 9.4em; }
.left-sidebar .left-sub-title {
  margin: 1.3em 0 0 20px; }
  .left-sidebar .left-sub-title span {
    font-size: 18px; }
.left-sidebar li {
  margin: 1.5em 0 .3em 20px; }
  .left-sidebar li a {
    color: #3b73af;
    padding: 10px 180px 10px 5px; }
    .left-sidebar li a:hover {
      background: rgba(0, 0, 0, 0.06); }
.left-sidebar .left-sub-list li {
  margin: 1.2em 0 .3em 20px; }
.left-sidebar .left-sub-list a {
  border-left: 2px solid #4C87C3; }
.left-sidebar hr {
  margin: 5px 0;
  color: #ddd; }

#to-add-user a {
  color: #fff;
  background: #FF886A;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: #D4B3B3 1px 1px 1px;
  text-shadow: 0 1px 0 #983E27;
  cursor: pointer; }
  #to-add-user a:hover {
    background: #FE6B46; }

#to-add-course a {
  color: #fff;
  background: #FF886A;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: #D4B3B3 1px 1px 1px;
  text-shadow: 0 1px 0 #983E27;
  cursor: pointer; }
  #to-add-course a:hover {
    background: #FE6B46; }

.radio-input {
  margin: 0 0 10px; }
  .radio-input input {
    margin: 0 5px 0 20px; }
  .radio-input label {
    cursor: pointer; }

#add-user-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #add-user-div #add-user-body {
    height: 400px;
    width: 500px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #add-user-div #add-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #add-user-div #add-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #add-user-div form {
    margin: 40px 0; }

#update-user-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #update-user-div #update-user-body {
    height: 350px;
    width: 500px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #update-user-div #update-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #update-user-div #update-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #update-user-div form {
    margin: 40px 0; }

#delete-user-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #delete-user-div #delete-user-body {
    height: 170px;
    width: 300px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #delete-user-div #delete-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #delete-user-div #delete-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #delete-user-div #delete-form {
    margin: 20px 0; }
    #delete-user-div #delete-form span {
      line-height: 4; }

#add-semester-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #add-semester-div #add-semester-body {
    height: 250px;
    width: 350px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #add-semester-div #add-semester-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #add-semester-div #add-semester-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #add-semester-div form {
    margin: 10px 0; }
    #add-semester-div form button {
      margin: 10px 0; }

#update-semester-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #update-semester-div #update-semester-body {
    height: 250px;
    width: 350px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #update-semester-div #update-semester-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #update-semester-div #update-semester-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #update-semester-div form {
    margin: 10px 0; }
    #update-semester-div form button {
      margin: 10px 0; }

#add-homework-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #add-homework-div #add-homework-body {
    height: 500px;
    width: 550px;
    margin: 140px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #add-homework-div #add-homework-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #add-homework-div #add-homework-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #add-homework-div form {
    margin: 30px 0; }
    #add-homework-div form button {
      margin: 10px 0; }

#add-example-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #add-example-div #add-example-body {
    height: 200px;
    width: 300px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #add-example-div #add-example-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #add-example-div #add-example-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #add-example-div form {
    margin: 45px 0; }
    #add-example-div form button {
      margin: 20px 0; }

#update-grade-div {
  display: none;
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(46, 46, 46, 0.16); }
  #update-grade-div #update-grade-body {
    height: 270px;
    width: 380px;
    margin: 230px auto;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center; }
  #update-grade-div #update-grade-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #update-grade-div #update-grade-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #update-grade-div form {
    margin: 21px 0; }
    #update-grade-div form button {
      margin: 20px 0; }

.semester-search form {
  width: 100%;
  margin: 1.5em 0 1.5em 20px; }
.semester-search #semester-list {
  background: #eee;
  border: 1px solid #c8c7bc;
  line-height: 30px;
  height: 30px;
  color: #333;
  margin: 0 0 12px; }
.semester-search .search-btn {
  margin: 0 0 20px; }
.semester-search #to-add-semester {
  color: #fff;
  background: #FF886A;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: #D4B3B3 1px 1px 1px;
  text-shadow: 0 1px 0 #983E27;
  cursor: pointer; }
  .semester-search #to-add-semester:hover {
    background: #FE6B46; }

.semester-month-form form {
  margin: 0;
  padding: 0 0 10px 0; }
.semester-month-form select {
  margin: 0 10px 0 0; }

#add-course-form div, #update-course-form div {
  margin: 10px 0; }
#add-course-form hr, #update-course-form hr {
  margin: 20px 0 10px; }
#add-course-form button a, #update-course-form button a {
  color: #fff; }
#add-course-form .a-btn, #update-course-form .a-btn {
  width: 120px; }
#add-course-form .course-time input, #update-course-form .course-time input {
  width: 20px;
  margin: 10px 2px; }
#add-course-form .course-semester label, #update-course-form .course-semester label {
  margin: 0 0px 0 13px; }
#add-course-form #semester, #update-course-form #semester {
  margin: 0 15px;
  width: 201px;
  height: 35px; }
#add-course-form .course-type select, #update-course-form .course-type select {
  margin: 0 25px 0 0; }

#add-semester-form, #update-semester-form {
  text-align: center; }
  #add-semester-form #add-semester-title, #update-semester-form #add-semester-title {
    background: #205081;
    border-bottom: 1px solid #173B61;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px; }
    #add-semester-form #add-semester-title span, #update-semester-form #add-semester-title span {
      color: #fff;
      text-shadow: #0C2136 1px 2px 1px;
      font-size: 16px; }
  #add-semester-form input, #update-semester-form input {
    width: 50px; }

#semester-info span {
  margin: 0 0 0 5px; }
#semester-info a {
  margin: 0 0 0 10px; }

.teacher-update-td-a {
  margin: 0 0 0 10px; }

tr.semester-tr td {
  text-align: center;
  background: rgba(35, 99, 164, 0.57);
  color: #fff;
  padding: 5px; }

#export-form {
  margin: 0 0 20px; }

.fuzzy-form input {
  width: 100px;
  margin-right: 10px; }

.second-span {
  margin-left: 30px; }

.short-input-div input {
  width: 50px; }

.description-div {
  position: relative; }
  .description-div label {
    position: relative;
    top: -36px; }

#message-tip {
  background: #FF886A;
  border-radius: 50%;
  height: 16px;
  text-align: center;
  line-height: 15px;
  width: 16px;
  font-size: 12px;
  color: #fff;
  display: inline-block; }

/*# sourceMappingURL=main.css.map */
